<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body >

    <%- include('../partials/header') %>

    <main style="background-image: url('/images/fondo-cactus.png')">

        <p class="listado_productos_title">Listado de productos</p>

        <table class="hay-tabla" >
            <thead>
                <td class="listado_productos" >ID</td>
                <td class="listado_productos">Nombre</td>
                <td class="listado_productos">Precio</td>
                <td class="listado_productos">Stock</td>
                <td class="listado_productos">Categoría</td>
                <td ><a href="/productos/crearproducto"><button class="button"> <span> Crear nuevo</span>
                    <svg>
                       <rect x="0" y="0" fill="none"></rect>
                   </svg>
               </button>
           </td></a>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <td class="table-products"><%= product.id %></td>
                        <td class="table-products"><%= product.name %></td>
                        <td class="table-products">$<%= product.price %></td>
                        <td class="table-products"><%= product.stock %></td>
                        <td class="table-products"><%= product.category.category %></td>

                        <td class="boton-listado">
                            <a href="/productos/<%= product.id %>" class="boton-listado">Detalle</a>
                        </td>
                        <td class="boton-listado">
                            <a href="/productos/editarproducto/<%= product.id %>" class="boton-listado">Editar</a>
                        </td>
                        <td>
                            <form action="/productos/<%= product.id %>?_method=DELETE" method="post" class="boton-listado-borrar formDeleteJS">
                                <button class="boton-listado-borrar " type="submit">Borrar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>

        </table>
        <script src="/js/products.js"></script>
    </main>


    <%- include('../partials/footer') %>
</body>

</html>