
<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
	
	<div class="cuadro1" style="margin: auto; margin-top: 10px; margin-bottom: 10px;">
		<div class="row">
			<div class="usario_perfil">
				<h2 class="title-login">Hi <%= user.first_name %> </h2>
				<img  src="/images/avatars/<%= user.image %>" alt="avatar">
						
				<br>
							
		</div>
	</div>
	
</div>
<button><a class="profile-editar" href="/listados/listadousuarios/">Volver a usuarios</a></button>

	<form action="/usuarios/delete/<%= user.id  %>?_method=DELETE" method="POST" style="display: inline-flex">
	<button class="detail-eliminar" type="submit">Eliminar mi cuenta</button>
	</form>
	

    <%- include('../partials/footer') %>
</body>
</html>