<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main class="login">
        <h2 class="title-login">Formulario de creación de productos</h2>
        <br>
        <section class="cuadro">
            <div class="formulario">
            <form action="/productos/crearproducto" method="POST" enctype= "multipart/form-data">
                <p class="campo">
                <label for="productName"class="label">Nombre de producto</label>
                <input type="text" name="name" id="productName" class="input" placeholder="Nombre del chocolate" style="font-style:italic; font-size: 12px">
                </p>
                <br>
                <p class="campo">
                <label for="productDescription"class="label">Descripción</label>
                <input type="text" name="description" id="productDescription" class="input" placeholder="Descripción" style="font-style:italic; font-size: 12px">
                </p>
                <br>
                <p class="campo">
                <label for="productImage" class="label">Imagen</label>
                <input type="file" name="image" id="productImage" class="input" placeholder="Seleccione la imagen" style="font-style:italic; font-size: 12px">
                </p>
                <br>
                <p class="campo">
                <label for="productCategory"class="label">Categoría</label>
                <select name="category" class="category-select">
                    <option disabled selected>Seleccioná una opción</option>
                    <% for( let i = 0; i < category.length; i++ ) { %>

                        <option value="<%= category[i].id%>" class="input">
                            
                            <%= category[i].category%>

                        </option>
                         
                    <% } %>
                    
                </select>
                </p>
                <br>
                <p class="campo">
                    <label for="productPrice" class="label">Precio ARS $</label>
                    <input type="number" name="price" id="productPrice" class="input" placeholder="ARS $" step="0.01" style="font-style:italic; font-size: 12px">
                    </p>
                <p>
                <br>

                <p class="campo">
                    <label for="stock" class="label">Stock</label>
                    <input type="number" name="stock" id="stock" class="input">
                    </p>
                <p>
                <br>







                <button type="submit" class="button">CARGAR</button>
                </p>
                <a href="/productos/crearproducto"><p class="observation">Borrar formulario</p></a>
            </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>