<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main class="login">
        <h2 class="title-login">Formulario de edición de productos</h2>
        <br>
        <section class="cuadro" style="margin-left: 20px; margin-right: 20px;">
            <div class="detail-group">
                      <div style="margin: auto;">     
                <img src="/images/products/<%= productEdit.image %>"    alt = <%= productEdit.name %> class= "imagen-detalle">
            </div> 
            <div style="width: 50%; margin: auto;">
            <div class="formulario">
                <form action="/productos/editarproducto/<%= productEdit.id %>?_method=PUT" method="POST" enctype= "multipart/form-data">
                <p class="campo">
                <label for="productName"class="label">Modifique nombre de producto</label>
                <input type="text" name="name" id="productName" class="input" style="font-style:italic; font-size: 12px" value="<%= productEdit.name %>">
                </p>
                <br>
                <p class="campo" >
                    <label for="productDescription"class="label">Modifique descripción</label>
                    <input type="text" name="description" id="productDescription" class="input" style="font-style:italic; font-size: 12px"   value="<%= productEdit.description %>"   >
                    </p>
                    <br>
                    <p class="campo">
                    <label for="productImage" class="label">Modifique imagen</label>
                    <input type="file" name="image" id="productImage" class="input" style="font-style:italic; font-size: 12px"> 
                    </p>
                    <br>
                    
                    <label for="productImage" class="label">Modifique categoría</label>
                    <select name="category" class="category-select">
                        <option disabled selected>Seleccioná una opción</option>
                        <% for( let i = 0; i < category.length; i++ ) { %>
    
                            <option value="<%= category[i].id%>" class="input">
                                
                                <%= category[i].category%>
    
                            </option>
                             
                        <% } %>
                        
                    </select>

                    <br>
                    <br>
                    <p class="campo">
                        <label for="productPrice" class="label">Modifique precio ARS $</label>
                        <input type="number" name="price" id="productPrice" class="input" style="font-style:italic; font-size: 12px" value="<%= productEdit.price %>">
                        </p>
                    <br>
                    <p class="campo">
                        <label for="productStock" class="label">Modifique Stock</label>
                        <input type="number" name="stock" id="productStock" class="input" step="0.01" style="font-style:italic; font-size: 12px" value="<%= productEdit.stock %>">
                        </p>
                    <p>
                    <br>
                <button type="submit" class="button" style="width: fit-content;" ><span>MODIFICAR</span>
                    <svg>
                        <rect x="0" y="0" fill="none"></rect>
                    </svg>
                </button>
                </p>
                <a href="/crearproducto"><p class="observation">Borrar formulario</p></a>
            </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>