<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <!-- <div class="alert container position-sticky top-0 alert-primary hide" role="alert">
        Producto Añadido al carrito!
    </div>

    <div class="alert container position-sticky top-0 alert-danger remove" role="alert">
        Producto removido!
    </div> -->


    <main>
        <section>
            <div class="head-carrito">
                <img src="/images/genericas/taza-chocolate-partido-corto.jpg" class="head-carrito-image">
                <div class="titulo-carrito"> Carrito.</div>
            </div>
        </section>


       


      
      

        <section class="section-product-carrito">
            <div class= "todos-productos-carrito">

                <% for (  let i = 0 ; i < products.length; i ++ ){%>
                <article class="product-carrito">
                    <div>
                        <img src= "/images/products/<%= products[i].image %>" alt = <%= products[i].name %> class="product-img-carrito">
                    </div>
                    <div class= "product-box-carrito">
                        <h4 class="descripcion-carrito"><%= products[i].description %></h4>
                        <h4 class="descripcion-carrito"><%= products[i].name %></h4>
                        <h4 class="descripcion-carrito" id="precio-unitario">Precio $<%= products[i].price %></h4>
                        <div >
                            <input  type="number" value="1" min="1" id="quantity">
                        </div>

                        <div class="total">
                            <h4 class="descripcion-carrito">Total</h4>
                            <h4 class="descripcion-carrito" id="price-per-product">
                                
                                    $<%= products[i].price %>
                                
                            </h4>
                        </div>
                        <i class="fas fa-trash"></i>
                    </div> 
                </article>
                <% } %>

               

               

                <div class="pagar">
                    <div>
                        <h4 class="descripcion-carrito"><%= products.length %> Productos</h4>
                        <h4 class="descripcion-carrito">Total a pagar</h4>
                        <h4 class="descripcion-carrito" id="total">$000.00</h4>
                    </div>
                    <div class="boton-compra">
                        <h4 class="descripcion-carrito">Terminar compra</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>

    



    <%- include('../partials/footer') %>

    <script src="./js/shopCart.js"></script>


 </body>
 
</html>