<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main>
        <h1> <% products.product_category_id %></h1>
        <section>
            <div class="head-products">
                <img src="images\prueba1.jpeg" class="head-product-image">
                <div class="titulo"> Productos.</div>
            </div>
        </section>
        <section id="2">
            
            <p class="intro">Tabletitas y chocolates tipo Bariloche a elección. Podés elegir las dulzuras que más te gusten, creadas y elaboradas a mano en San Juan, con la mejor materia prima.</p>
            <div class="buscar-titulo">
                <form action="/productos" method="POST">
                    <input type="text" name="titulo" id="titulo">
                    <button class="boton-buscar" type="submit">Buscar</button>
                </form>  
            </div>    
                <div> 
                        <article  class="product" >
                            <% for (  let i = 0 ; i < products.length; i ++ ){%>
                              
                               <div  data-audio="/sound/paperball5.mp3" class= "product-box" >
                                    <a href="/productos/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image %>"    alt = <%= products[i].name %> class="product-img">
                                    <div class="box-description">
                                    <p  class="detalle"><%= products[i].description %></p>
                                    <h4 class="descripcion"><%= products[i].name %>  </h4>
                                    <h4 class="descripcion">$<%= products[i].price %></h4>
                                    <h4 class="descripcion"><%= products[i].category.category %></h4>
                                
                            
                                  

                                    </a>         
                                    </div>    
                                </div> 
                            <% } %>
                        </article>
                        
                </div>
                <audio controls>
                    <source src="/sound/paperball5.mp3" type="audio/mp3">
                    Tu navegador no soporta audio HTML5.
                </audio>
        </section>

    </main>

    </script>
            <%- include('../partials/footer') %>
    </body>
</html>
                