<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main>
        <section>
            <div class="head-products">
                <img src="../../../public/images\prueba1.jpeg" class="head-product-image">
                <div class="titulo"> Detalle de producto.</div>
            </div>
        </section>
        <section>
            <p class="intro">Trufas, tabletitas y chocolates tipo Bariloche a elección. Podés elegir las dulzuras que más te gusten, creadas y elaboradas a mano en San Juan, con la mejor materia prima.</p>
                <div>  
                        <article class="product">
                                <div class= "product-box">
                                    <img src="/images/<%= products.image %>"    alt = <%= products.name %> class="product-img">
                                    <div class="box-description">
                                    <p class="detalle"><%= products.description %></p>
                                    <h4 class="descripcion"><%= products.name %></h4>
                                    <i class="fas fa-shopping-bag"></i>
                                    </div>
                                </div> 
                        </article>
                </div>
        </section>
    </main>
            <%- include('../partials/footer') %>
    </body>
</html>
        