<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %> 
    
<body>

    <%- include('../partials/header') %> 

    <main class="cuerpo-detalle">
        <section>  
                <article>
                    <div class="detail-group">
                            
                        <img src="/images/products/<%= products.image %>"    alt = <%= products.name %> class= "imagen-detalle">

                    <div class="detail-otro">
                        
                        <p class="detail-product-name"><%= products.name%></p>
                        <div class="detail-edit">
                            <a class="detail-editar" href="/productos/editarproducto/<%= products.id  %>">EDITAR PRODUCTO</a>
                                <form action="/productos/<%= products.id  %>?_method=DELETE" method="POST" style="display: inline-flex">
                                <button class="detail-eliminar" type="submit">ELIMINAR</button>
                                </form>
                            </div>
                        <p class="detail-description"><%= products.description %></p>
                        <div class="detail-numbers">
                        <p class="detail-presentacion">100 gramos</p>
                        <p class="detail-price">$<%= products.price %></p>
                        </div>
                        <div class="shopping"><i class="fas fa-shopping-bag bolsita"></i></div>
                        <br>
                        
                    </div>

                     </div>
                                
                            
                    
                </article>
                
        </section>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>
        