<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %> 
    
<body>

    <%- include('../partials/header') %> 

    <main class="cuerpo-detalle">
        <section>  
                <article>
                    <div>
                            <p><%= products.name%></p>
                                    <img src="/images/products/<%= products.image %>"    alt = <%= products.name %> class= "imagen-detalle">
                                    <div>
                                    <p ><%= products.description %></p>
                                    <i class="fas fa-shopping-bag"></i>
                                    </div>
                                </div>
                                
                                <a class="editar" href="/productos/editarproducto/<%= products.id  %>">EDITAR PRODUCTO</a>
						<form action="/productos/<%= products.id  %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit">ELIMINAR</button>
						</form>
                    </div>
                        </article>
                </div>
        </section>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>
        