<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main>
        <section>
            <div class="head-products">
                <img src="images\prueba1.jpeg" class="head-product-image">
                <div class="titulo"> Productos.</div>
            </div>
        </section>
        <section>
            <div class="buscar-titulo">
                <form action="/productos/buscar" method="POST">
                    <input type="text" name="titulo" id="titulo">
                    <button class="boton-buscar" type="submit">Buscar producto</button>
                </form>
                
            </div>
            <p class="intro">Tabletitas y chocolates tipo Bariloche a elección. Podés elegir las dulzuras que más te gusten, creadas y elaboradas a mano en San Juan, con la mejor materia prima.</p>
                <div>  
                        <article class="product" >
                            <% for (  let i = 0 ; i < products.length; i ++ ){%>
                               
                               <div class= "product-box">
                                    <a href="/productos/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image %>"    alt = <%= products[i].name %> class="product-img">
                                    <div class="box-description">
                                    <p class="detalle"><%= products[i].description %></p>
                                    <h4 class="descripcion"><%= products[i].name %></h4>
                                    <h4 class="descripcion">$<%= products[i].price %></h4>
                                    <% if (products[i].product_category_id == 1){ %>
                                    <h4 class="descripcion">Bariloche</h4>
                                    <% } else { %>
                                    <h4 class="descripcion">Tableta</h4>
                                    <% } %>
                                    </a>         
                                    </div>
                                </div> 
                            <% } %>
                        </article>
                        
                </div>
        </section>
    </main>
            <%- include('../partials/footer') %>
    </body>
</html>
                