<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 

    <main>
        <section>
            <div class="head-products">
                <img src="images\prueba1.jpeg" class="head-product-image">
                <div class="titulo"> Productos.</div>
            </div>
        </section>
        <section>
            <p class="intro">Trufas, tabletitas y chocolates tipo Bariloche a elección. Podés elegir las dulzuras que más te gusten, creadas y elaboradas a mano en San Juan, con la mejor materia prima.</p>
                <div class= "todos-productos">  
                        
                        <article class="product">
                            <% productosLista.forEach(element =>{ %>
                            <img src="/images/<%= element.image %>"    alt = <%= element.name %> class="product-img">
                            <div class= "product-box">
                                <p class="detalle"><%= element.description %></p>
                                <h4 class="descripcion"><%= element.name %></h4>
                                <i class="fas fa-shopping-bag"></i>
                                
                            </div> 
                            <% }) %>
                        </article>
                </div>
        </section>
    </main>
            <%- include('./partials/footer') %>
    </body>
</html>
                    <!--
                        <article class="product">
                            <img src= "images\frambuesa.jpg" alt = "Chocolate con frambuesa" class="product-img">
                            <div class= "product-box">
                                <p class="detalle">Chocolate semi amargo con frambuesas</p>
                                <h4 class="descripcion">TABLETA FRAMBUESAS</h4>
                                <i class="fas fa-shopping-bag"></i>
                            </div> 
                        </article>

                        <article class="product">
                            <img src= "images\marroc.jpg" alt = "Marroc" class="product-img">
                            <div class= "product-box"> 
                                <p class="detalle">Chocolate con leche y chocolate blanco con pasta de maní</p>
                                <h4 class="descripcion">MARROC</h4>
                                <i class="fas fa-shopping-bag"></i>
                            </div> 
                        </article>

            <article class="product">
                <img src= "images\nuez-ddl-blanco.jpg" alt = "Dulce de leche con nuez" class="product-img">
                <div class= "product-box">
                    <p class="detalle">Pasta de dulce de leche y nueces, entre una capa de chocolate con leche y una capa de chocolate blanco</p>
                    <h4 class="descripcion">DULCE DE LECHE CON NUEZ</h4>
                    <i class="fas fa-shopping-bag"></i>
                </div>
            </article>

            <article class="product">
                <img src= "images\almendra.jpg" alt = "Chocolate con almendras" class="product-img">
                <div class= "product-box">
                    <p class="detalle">Chocolate amargo 70% cacao con naranja, jengibre y almendras</p>
                    <h4 class="descripcion">TABLETA ALMENDRA</h4>
                    <i class="fas fa-shopping-bag"></i>
                </div>
            </article>

            <article class="product">
                <img src= "images\pistacho.jpg" alt = "Pistacho" class="product-img">
                <div class= "product-box">
                    <p class="detalle">Crema de chocolate blanco con pistachos, entre dos capas de chocolate semi amargo</p>
                    <h4 class="descripcion">PISTACHO</h4>
                    <i class="fas fa-shopping-bag"></i>
                </div>
            </article>

            <article class="product">
                <img src= "images\avellanas2.jpg" alt = "Avellanas" class="product-img">
                <div class= "product-box">
                     <p class="detalle">Chocolate amargo con crema de licor de naranja y avellanas tostadas</p>
                    <h4 class="descripcion">AVELLANAS</h4>
                    <i class="fas fa-shopping-bag"></i>
                </div>
            </article>

            <article class="product">
                <img src= "images\borrachito.jpg" alt = "Borrachito" class="product-img">
                <div class= "product-box">
                     <p class="detalle">Chocolate semi amargo con crema de ciruelas al Malbec con dulce de leche</p>
                    <h4 class="descripcion">BORRACHITO</h4>
                    <i class="fas fa-shopping-bag"></i>
                </div>
            </article>


                    <article class="product">
                        <img src= "images\frambuesa-blanco.jpg" alt = "Chocolate blanco con frambuesa" class="product-img">
                            <div class= "product-box">
                            <p class="detalle">Chocolate blanco con frambuesas y nibs de cacao</p>
                            <h4 class="descripcion">TABLETA FRAMBUESAS CHOCO BLANCO</h4>
                            <i class="fas fa-shopping-bag"></i>
                            </div> 
                        </article>

                        <article class="product">
                            <img src= "images\frutos-rojos.jpg" alt = "Frutos rojos" class="product-img">
                                <div class= "product-box">
                                <p class="detalle">Crema de chocolate semi amargo y frutos rojos, entre una capa de chocolate amargo y una de chocolate blanco</p>
                                <h4 class="descripcion">FRUTOS ROJOS</h4>
                                <i class="fas fa-shopping-bag"></i>
                                </div> 
                            </article>

                            <article class="product">
                                <img src= "images\trufas\trufa-10.jpg" alt = "Trufa Negra" class="product-img">
                                    <div class= "product-box">
                                    <p class="detalle">Chocolate con leche y café, bañada en chocolate semi amargo</p>
                                    <h4 class="descripcion">TRUFA NEGRA</h4>
                                    <i class="fas fa-shopping-bag"></i>
                                    </div> 
                                </article>

                                <article class="product">
                                    <img src= "images\trufas\trufaa-6.jpg" alt = "Trufa blanca" class="product-img">
                                        <div class= "product-box">
                                        <p class="detalle">Chocolate blanco y maracuyá</p>
                                        <h4 class="descripcion">TRUFA BLANCA</h4>
                                        <i class="fas fa-shopping-bag"></i>
                                        </div> 
                                    </article>
                                    -->
