<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head') %> 

<body class="fondo-home">
    
<%- include('./partials/header') %> 
    
    <section class="banner-home-1">
        
        <div class="banner-izquierda-1 slider">
            <ul>
                <li><img src="/images/caja-abierta-fondo.jpg" class="img-slider" alt="Huära Chocolates"></li>
                <li><img src="/images/cajas-chocolates-bolsa.jpg" class="img-slider" alt="Huära Chocolates"></li>
                <li><img src="/images/presentacion-caja.jpg" class="img-slider" alt="Huära Chocolates"></li>
                <li><img src="/images/mouse.jpg" class="img-slider" alt="Huära Chocolates"></li>
            </ul>
        </div>

        <div class="banner-derecha-1">
                <img src="/images/logo-huara-sinfondo.png" alt="Huära Chocolates">
        </div>
        <div class="banner-derecha-1">
        <h3>Probá y descubrí el verdadero chocolate, ese que te hace bien, sin conservantes, aditivos ni aceites hidrogenados. Cada pieza es confeccionada 
            100% a mano con el mejor chocolate belga e ingredientes de productores locales.</h3>
        </div>
    </section>

    <section> 
        <article  class="product" >
            <% for (  let i = 0 ; i < 4; i ++ ){%>
              
               <div  data-audio="/sound/paperball5.mp3" class= "product-box" >
                    <a href="/productos/<%= products[i].id%>">
                    <img src="/images/products/<%= products[i].image %>"    alt = <%= products[i].name %> class="product-img">
                    <div class="box-description">
                    <p  class="detalle"><%= products[i].description %></p>
                    <h4 class="descripcion"><%= products[i].name %>  </h4>
                    <h4 class="descripcion">$<%= products[i].price %></h4>
                    <h4 class="descripcion"><%= products[i].category.category %></h4>
                    </a>   
                    <% if (locals.isLogged)  { %> 
                    <button value="<%= products[i].id %>" class="add-to-cart">Agregar al carrito</button>
                    <% } %> 
                  
                          
                    </div>    
                </div> 
            <% } %>
        </article>
        
    </section>





    <section class="banner-home-2">
        
        <img src="/images/variados-hojas-corto.jpg" alt="Huära Chocolates" width="100%">
        
       

        <a href="/productos">
        <div>
            <ul class="list-banner-2">
                <li>Nuestros productos</li>

            </ul>
        </div>
        </a>
    </section>


    <section class="banner-home-3">
        <div class="img-newsletter">
            <img src="/images/genericas/taza-chocolate-partido.jpg" alt="Huära Chocolates">
        </div>
        <div class="newsletter">
            <form action="/login" method="POST">
                <div class="email-newsletter">
                <h3> Compartí tu foto chocolatosa en Instagram mencionando a @huarachocolate y accedé automáticamente a un 20% de descuento en tu próxima compra!</h3>
                <br>
                
                </div>
            </form>
            <img src="/images/luna.jpg" alt="Huära Chocolates">
                
        </div>
    </section>
    <%- include('./partials/footer') %> 
    
<script src="./js/slider.js"></script>
</body>


</html>