<header>
    <div class="box-header">
        <a class="logo-header" href="/"><img src="/images/para-fondo-PhotoRoom.png" alt="logo-huara"
                class="logo-header-img"></a>
        <a href="#" class="hamburger-header">
            <i class="fas fa-align-left"></i>
        </a>
        <ul class="nav-bar-header">
            <% if (!locals.isLogged)  { %>
            <li><a href="/"> Home</a></li>
            <li><a href="/productos"> Productos</a></li>
            <li><a href="/usuarios/login"> Login</a></li>
            <li><a href="/usuarios/registro"> Registrate</a></li>

            <% } else if ( (locals.isLogged) && (locals.userLogged.user_category_id == 2) ) { %>
            <li><a href="/"> HOME</a></li>
            <li><a href="/productos"> PRODUCTOS</a></li>
            <li><a href="/carrito"> CARRITO</a></li>
            <li id="desplegable">
                <img src="/images/avatars/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;">
                
                <div>Hi <%= locals.userLogged.first_name%></div>
            </li>

            <div class="perfil-desplegable" id="desple">
<<<<<<< HEAD
                <li id="desple"><a href="/usuarios/perfil/<%= locals.userLogged.id %>">Perfil</a></li>
                <li id="desple"><a href="/usuarios/logout">Logout</a></li>
            </div>

            <% } else { %>
            <li><a href="/"> HOME</a></li>
            <li><a href="/productos"> PRODUCTOS</a></li>
            <li><a href="/carrito"> CARRITO</a></li>
            <li><a href="http://localhost:3000/"> DASHBOARD</a></li>
            <li id="desplegable-listado"><a href="/listados"> LISTADOS</a>
            </li>
            <div class="perfil-desplegable-listado" id="desple-listado">
                    <li>
                        <a href="/listados/listadoproductos">Productos</a>
                    </li>
                    <li>
                        <a href="/listados/listadousuarios">Usuarios</a>
=======
                <li id="desple"><a href="/usuarios/perfil/<%= locals.userLogged.id %>"><i class="fas fa-user"></i> Ir a Perfil</a></li>
                <li id="desple"><a href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </div>

            <% } else { %>
            <li><i class="fas fa-home"> </i><a href="/"> Home</a></li>
            <li><i class="fas fa-box"> </i><a href="/productos"> Productos</a></li>
            <li><i class="fas fa-shopping-bag"></i> <a href="/carrito"> Carrito</a></li>
            <li><i class="fas fa-grip-vertical"></i> <a href="http://localhost:3000/"> Dashboard</a></li>
            <li id="desplegable-listado"><i class="fas fa-list"></i><a href="/listados"> Listados</a>
            </li>
            <div class="perfil-desplegable-listado" id="desple-listado">
                    <li>
                        <a href="/listados/listadoproductos"><i class="fas fa-bars"></i> Listado de productos</a>
                    </li>
                    <li>
                        <a href="/listados/listadousuarios"><i class="fas fa-users"></i> Listado de usuarios</a>
>>>>>>> d8405d1546656c80fe5337982877acb55e64069d
                    </li>
            
            </div>
            
            <li><a href="/productos/crearproducto"> CREAR PRODUCTO</a></li>
            <li id="desplegable">
                <img src="/images/avatars/<%= locals.userLogged.image %>" width="40"
                    style="border-radius: 100%; color:blue">
                 <div>Hi Admin <%= locals.userLogged.first_name%></div>
            </li>
            <div class="perfil-desplegable" id="desple">
<<<<<<< HEAD
                <li><a href="/usuarios/perfil/<%= locals.userLogged.id %>">Perfil</a></li>
                <li><a href="/usuarios/logout">Logout</a></li>
=======
                <li><a href="/usuarios/perfil/<%= locals.userLogged.id %>"><i class="fas fa-user"></i> Ir a Perfil</a></li>
                <li><a href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
>>>>>>> d8405d1546656c80fe5337982877acb55e64069d
            </div>
            <% } %>
        </ul>

    </div>

    <div class='no-desplegado ' id="ham">
        <ul>
            <% if (!locals.isLogged)  { %>
            <li class="desplegable-item"><a href="/"> HOME</a></li>
            <li class="desplegable-item"><a href="/productos"> PRODUCTOS</a></li>
            <li class="desplegable-item"> <a href="/usuarios/login"> LOGIN</a></li>
            <li class="desplegable-item"><a href="/usuarios/registro"> REGISTRATE</a></li>
            <% } else if ( (locals.isLogged) && (locals.userLogged.user_category_id == 2) ) { %>
            <li class="desplegable-item"><a href="/"> HOME</a></li>
            <li class="desplegable-item"><a href="/productos"> PRODUCTOS</a></li>
            <li class="desplegable-item"><a href="/carrito"> CARRITO</a></li>
            <li class="desplegable-item"><a href="/usuarios/perfil/<%= locals.userLogged.id %>">
                    <img src="/images/avatars/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;">
                    Hi <%= locals.userLogged.first_name%>
            <li class="desplegable-item"><a href="/usuarios/logout">Logout</a></li>
            </li>
            </a>

            <% } else { %>
            <li class="desplegable-item"><a href="/"> HOME</a></li>
            <li class="desplegable-item"><a href="/productos"> PRODUCTOS</a></li>
            <li class="desplegable-item"><a href="/carrito"> CARRITO</a></li>
            <li class="desplegable-item"><a href="/listados"> LISTADOS</a></li>
            <li class="desplegable-item"><a href="/productos/crearproducto"> CREAR PRODUCTO</a></li>
            <li class="desplegable-item"><a href="/usuarios/perfil/<%= locals.userLogged.id %>">
                    <img src="/images/avatars/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;">
                    Hi Admin <%= locals.userLogged.first_name%>
            <li class="desplegable-item"><a href="/usuarios/logout">Logout</a></li>
            </li>
            </a>
            <% } %>
        </ul>
    </div>





    <script src="/js/hamburger.js"></script>

</header>