
<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body class="profile">
	
    <%- include('../partials/header') %>
	
	<div class="cuadro-profile" style="margin: auto; margin-top: 10px; margin-bottom: 10px;">
		<div class="row">
			<div class="usario_perfil">
				<h2 class="title-login">Bienvenido <%= user.first_name %>! </h2>
				<br>
				<img style= "border-radius: 100px;" src="/images/avatars/<%= user.image %>" alt="avatar">
				
				<br>
				<br>
				<h2>Datos personales </h2>
						


				<br>
				<div style="  color: rgb(114,141,117); font-family: nexa-light; font-size:20px; font-style: italic" class="alert alert-success">
					<h4>Email:</h4>
					<%= user.email %>  
				</div>
                <br>
				<div style="  color: rgb(114,141,117); font-family: nexa-light; font-size:20px; font-style: italic" class="alert alert-success">
					<h4>Nombre: </h4>
					<%= user.first_name %>  
				</div>
                <br>
				<div style="  color: rgb(114,141,117); font-family: nexa-light; font-size:20px; font-style: italic" class="alert alert-success">
					<h4>Apellido:</h4> 
					<%= user.last_name %>  
				</div>
                <br>
				<div style="  color: rgb(114,141,117); font-family: nexa-light; font-size:20px; font-style: italic" class="alert alert-success">
					<h4>ID de usuario:</h4>  
					#<%= user.id %>  
				</div>
                <br>
				
				
				
			</div>
			
		</div>
	</div>
	<button class="detail-eliminar"><a class="detail-editar" href="/usuarios/editarusuario/<%= user.id  %>">Editar Usuario</a></button>

	<form action="/usuarios/delete/<%= user.id  %>?_method=DELETE" method="POST" style="display: inline-flex">
	<button class="detail-eliminar" type="submit">Eliminar mi cuenta</button>
	
	</form>
	<br>
	<br>
	


	

    <%- include('../partials/footer') %>
</body>
</html>